body {
  background-color: #222831;
  color: #eaeaea;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.alternate-color {
  background-color: #eaeaea;
  color: #393e46;
}

.content-padding {
  padding: 6% 22%;
}

/* Headings */

.title-heading {
  font-size: 7rem;
  margin: 4rem auto;
}

#title h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 5%;
}

/* Title Section */

#title {
  height: 100vh;
  padding: 13%;
}

/* About Section */

.profile-img {
  border: 2px solid #393e46;
  border-radius: 100%;
  height: 20vh;
  margin-bottom: 5%;
}

.about-text {
  font-size: 1rem;
}

/* Skills Section */

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skill-item {
  margin: 15%;
}

.progress {
  margin: 17% auto;
}

.purple {
  background-color: purple;
}

/* Projects Section */

/* Contact Section */

#contact a {
  color: #eaeaea;
  font-size: 2.5rem;
  margin: 2% 3%;
}

#contact a:hover {
  color: #393e46;
}